body {
    font-family: sans-serif;
}
header{
    background-color: #6D40BD;
}
header img{
    margin: 10px 10px 10px 10px;
}
h1{
    margin-left: 200px;
    font-size: 60px;
}
main img{
    margin-left: 20px;
  
}
main h2{
    text-align: center;
    font-size: 40px;
    color: #5D00FD;
}
ul{
    margin-left: 40px;
    font-size: 20px;
}
li{
    margin-bottom: 20px;
}
h3{
    text-align: center;
    font-size: 48px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    padding: 15px;
}
footer{
    background-color: #6D40BD;
}
footer p{
    padding: 10px;
    color: white;
}
